exportPattern("^[[:alpha:]]+")
import(dplyr)
importFrom(RJDBC, JDBC)
importFrom(DBI, dbConnect)
importFrom(DBI, dbGetQuery)
S3method(db_has_table, SparkSQLConnection)
S3method(db_list_tables, SparkSQLConnection)
S3method(db_query_fields, SparkSQLConnection)
S3method(db_begin, SparkSQLConnection)
S3method(db_commit, SparkSQLConnection)
S3method(db_rollback, SparkSQLConnection)
S3method(db_data_type, SparkSQLConnection)
S3method(db_insert_into, SparkSQLConnection)
S3method(sql_escape_string, SparkSQLConnection)
S3method(sql_escape_ident, SparkSQLConnection)